[submodule "Sources/Lua/hades"]
	path = Sources/Lua/hades
	url = https://github.com/thomasgabor/hades.git
[submodule "Sources/Lisp/hexameter"]
	path = Sources/Lisp/hexameter
	url = https://github.com/hoelzl/Hexameter
[submodule "Sources/Lisp/hrl"]
	path = Sources/Lisp/hrl
	url = https://github.com/hoelzl/programmable-reinforcement-learning.git
[submodule "Sources/Lua/xbt"]
	path = Sources/Lua/xbt
	url = https://github.com/hoelzl/Xbt.lua
